@charset "utf-8";
:root {
	--light_blue: #2ca5b6;
	--dark_blue: #005f6e;

	--white-fff: #fff;
	--white-ef: #EFEFEF;
	--black-1e: #1e1e1e;
	--gray-a2: #a2a2a2;
}

.wrap {
	width: 100vw;
	max-width: 800px;
	overscroll-behavior-y: none;
	font-family: Apple SD Gothic Neo;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e5e5e5;
}
h4.h4 {
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;
	text-align: center;
}
h5.h5 {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
}
p.font-13 {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}
p.font-15 {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
}
p.font-16 {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
}

/* header */
.header_inner_sub {
	width: 100%;
	padding: 16px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
	color: var(--light_txt_c);
	background: #fff;
}
.header_inner_sub h3 {
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0px;
}

/* main */
section:not(:first-child) {
	margin-top: 80px;
}
.container {
	padding-bottom: 33px;
	background: #fff;
}
.container div {
	color: var(--black-1e);
}
.container .korea_service_banner-wrap {
	background: var(--light_blue);
	color: var(--white-fff);
	padding: 48px 32px;
}
.container .korea_service_banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container .korea_service_banner .h4 {
	margin: 12px 0 20px;
	color: var(--white-fff);
}
.container .korea_service_banner p.font-16 {
	color: var(--white-fff);
}
.container .korea_service_desc-wrap {
	padding: 0 20px;
}
.container .korea_service_desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container .korea_service_desc p.font-15 {
	color: var(--gray-a2);
	margin: 12px 0 24px;
}
.container .guide_service_delivery {
	background: #f4f4f4;
	color: var(--light_txt_c);
	padding: 16px 20px;
	border-radius: 4px;
	margin: 10px 0 6px;
}
.container .guide_service_delivery p.font-16 {
	text-align: left;
	font-weight: 700;
	padding-bottom: 4px;
}
.container .guide_service_delivery .guide--vehicle {
	padding: 10px 15px;
	background: var(--white-fff);
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container .guide_service_delivery .guide--vehicle p.font-13:first-child {
	font-weight: 700;
}
.container .guide_service_delivery .guide--vehicle:nth-of-type(1) {
	margin: 8px 0;
}
.container .lifecare_service_desc-wrap {
	padding: 0 20px;
}
.container .lifecare_service_desc {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 16px;
	border-radius: 20px;
	padding: 24px 20px;
	box-shadow: 0px 4px 12px 0px #00000026;
}
.container .lifecare_service_desc:nth-child(2) {
	margin: 24px 0 8px;
}
.container .lifecare_service_desc p {
	text-align: left;
}
.container .lifecare_service p.font-16 {
	font-weight: 700;
}
.container .lifecare_service p.font-13 {
	color: var(--gray-a2);
	margin-top: 10px;
	word-wrap: break-word;
	word-break: keep-all;
  padding-right: 30px;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	.header_inner_sub {
		background: var(--black-1e);
    color: var(--white-ef);
	}
  .container{
    background: var(--black-1e);
  }
  .container div {
    color: var(--white-ef);
  }
  .container .guide_service_delivery{
    background: #2C2C2C;  
  }
  .container .guide_service_delivery .guide--vehicle{
    background: var(--gray-a2)
  }
  .container .guide_service_delivery .guide--vehicle p.font-13{
    color: var(--black-1e);
  }
  .container .lifecare_service_desc{
    background:#2c2c2c;
    box-shadow: 0px 4px 12px 0px #00000026;
  }
  .container .korea_service_desc-wrap p.font-13{
    color: var(--gray-a2);
  }
  .container .korea_service_banner-wrap.dark{
    background: var(--dark_blue);
    color: var(--white-ef);  
  }
  .container .korea_service_banner-wrap.dark h4.h4,
  .container .korea_service_banner-wrap.dark p.font-16 {
    color: var(--white-ef);  
  }
}
