@charset "UTF-8";

@import url('./reset.css');
@import url('./font.css');

.chargediag {
  width: 1240px;
  height: auto;
  margin: 0 auto;
  padding: 82px 52px 64px;
  background-image: url(../images/bg.svg);
  background-size: 414px 455px;
  background-repeat: no-repeat;
  background-position: right 52px bottom 24px;
  font-family: "Apple SD Gothic R";
}

.chargediag .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 23px;
}
.chargediag .header h1 {
  display: flex;
  align-items: center;
  height: 26px;
}
.chargediag .header h1 img {
  width: 150px;
}
.chargediag .header div {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 18px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.chargediag .doc_num {
  font-size: 14px;
  color: #000;
}

.chargediag .banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 200px;
  margin-bottom: 52px;
  padding: 40px;
  border-radius: 10px;
  background: linear-gradient(169deg, #51CCE1 0%, #0689D1 118.84%);
  color: #fff;
}
.chargediag .banner::after {
  content: '';
  position: absolute;
  top: 38px;
  right: 70.12px;
  display: block;
  width: 196.88px;
  height: 126px;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.chargediag .banner_tit {
  display: flex;
  gap: 10px;
  height: 52px;
  margin-bottom: 16px;
}
.chargediag .banner_tit span {
  font-family: "Apple SD Gothic M";
  font-size: 55px;
  line-height: 60px;
}
.chargediag .banner_box {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 331px;
  height: 38px;
  padding: 10px 20px;
  border-radius: 12px;
  background: #FFFFFF1A;
  backdrop-filter: blur(4px)
}
.chargediag .banner_box_line {
  width: 1px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.chargediag .banner_box div {
  display: flex;
  gap: 6px;
  font-size: 14px;
  line-height: 18.35px;
}
.chargediag .banner_box div > span:first-child {
  opacity: 0.6;
}

.chargediag .battery_flex {
  display: flex;
  gap: 32px;
  margin-bottom: 66px;
}
.chargediag .battery_flex > div {
  width: calc(50% - (33px / 2));
}
.chargediag .battery_box {
  height: 349px;
  border: 1px solid #D3D3D3;
  border-radius: 12px;
  background-color: #EFEFEF;
}
.chargediag .battery_per {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 81px auto 102px;
}
.chargediag .battery_per::before {
  content: '';
  display: block;
  width: 56px;
  height: 57px;
  background-image: url(../images/battery_y.png);
  background-position: center;
  background-size: contain;
}
.chargediag .battery_box.good .battery_per::before {
  background-image: url(../images/battery_b.png);
}
.chargediag .battery_box.bad .battery_per::before {
  background-image: url(../images/battery_r.png);
}
.chargediag .battery_per::after {
  content: '보통';
  margin-left: 24px;
  padding: 5px 15px;
  border-radius: 30px;
  border: 1px solid #A76E00;
  background-color: #FFC045;
  font-family: "Apple SD Gothic B";
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}
.chargediag .battery_box.good .battery_per::after {
  content: '우수';
  border-color: #02788B;
  background-color: #50CCE0;
}
.chargediag .battery_box.bad .battery_per::after {
  content: '관리필요';
  border-color: #D61010;
  background-color: #FF8787;
}
.chargediag .battery_gage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 457px;
  height: 10px;
  margin: 0 auto;
}
.chargediag .battery_gage > div:not(.battery_pos) {
  position: relative;
  width: 151px;
  height: 100%;
  flex: 0 0 auto;
}
.chargediag .battery_gage > div:not(.battery_pos)::before {
  position: absolute;
  top: -6.5px;
  left: 50%;
  font-size: 14px;
  line-height: 16px;
  color: #5c5c5c;
  transform: translate(-50%, -100%);
}
.chargediag .battery_gage > div:not(.battery_pos)::after {
  position: absolute;
  bottom: -6px;
  right: 0;
  font-size: 14px;
  line-height: 16px;
  color: #5c5c5c;
  transform: translate(50%, 100%);
}
.chargediag .battery_r {
  background-color: #FF5353;
  border-radius: 2px 0px 0px 2px;
}
.chargediag .battery_r::before {
  content: '관리필요';
}
.chargediag .battery_r::after {
  content: '92.57';
}
.chargediag .battery_y {
  background-color: #FFC045;
}
.chargediag .battery_y::before {
  content: '보통';
}
.chargediag .battery_y::after {
  content: '97.80';
}
.chargediag .battery_b {
  background-color: #50CCE0;
  border-radius: 0px 2px 2px 0px;
}
.chargediag .battery_b::before {
  content: '우수';
}
.chargediag .battery_pos {
  position: absolute;
  top: -12px;
  left: 100%;
  transform: translate(-50%, -100%);
  width: 55px;
  height: 46px;
  padding-top: 8px;
  background-image: url(../images/speech.svg);
  font-family: "Apple SD Gothic B";
  font-size: 11px;
  line-height: 16px;
  color: #FFC045;
  text-align: center;
  z-index: 1;
}
.chargediag .battery_box.good .battery_pos {
  color: #50CCE0;
}
.chargediag .battery_box.bad .battery_pos {
  color: #FF5353;
}
.chargediag .battery_pos::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translate(-50%, 100%);
  display: block;
  width: calc(79px / 3);
  height: calc(78px / 3);
  background-image: url(../images/mark_y.png);
  background-size: contain;
}
.chargediag .battery_box.good .battery_pos::after {
  background-image: url(../images/mark_b.png);
}
.chargediag .battery_box.bad .battery_pos::after {
  background-image: url(../images/mark_r.png);
}
.chargediag .battery_img {
  height: 57px;
  font-family: "Apple SD Gothic B";
  font-size: 40px;
  font-size: 40px;
  letter-spacing: -0.01em;
  color: #a2a2a2;
}
.chargediag .battery_num {
  font-size: 70px;
  color: #000;
}
.chargediag .car_tit {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  padding-left: 8px;
  margin-bottom: 16px;
}
.chargediag .car_name {
  font-family: "Apple SD Gothic B";
  font-size: 24px;
  line-height: 30px;
}
.chargediag .car_tit span {
  font-size: 18px;
  line-height: 24px;
}
.chargediag .car_info {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  margin-bottom: 42px;
  border-radius: 12px;
  background-color: #F4F4F4;
}
.chargediag .car_info > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 157.33px;
}
.chargediag .car_info > div + div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 42px;
  border-left: 1px solid #d3d3d3;
}
.chargediag .car_info > div span:first-child {
  font-size: 18px;
  line-height: 24px;
  color: #1e1e1e;
}
.chargediag .car_info > div span:last-child {
  font-family: "Apple SD Gothic B";
  font-size: 18px;
  line-height: 24px;
  color: #00b4cb;
}

.chargediag .border_tit {
  padding-left: 8px;
  padding-bottom: 10.5px;
  border-bottom: 3px solid #5d5d5d;
  font-family: "Apple SD Gothic B";
  font-size: 20px;
  line-height: 26px;
  color: #1e1e1e;
}
.chargediag .table_tag {
  padding: 12.5px 8px 0;
}
.chargediag .tag {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 14px;
}
.chargediag .tag > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83.29px;
  margin: 0 24.61px;
  padding: 8px;
  border: 1px solid #1e1e1e;
  border-radius: 27.5px;
  background-color: #fff;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #1e1e1e;
}
.chargediag .tag > div:last-child {
  border-color: #a2a2a2;
  color: #a2a2a2;
}
.chargediag .tag_row {
  display: flex;
  align-items: center;
  font-family: "Apple SD Gothic B";
  color: #1e1e1e;
  text-align: right;
  font-size: 18px;
  line-height: 24px;
}
.chargediag .tag_row + .tag_row {
  margin-top: 18px;
}
.chargediag .tag_row p:first-child {
  font-size: 16px;
  margin-right: auto;
  text-align: left;
}
.chargediag .tag_row p:nth-child(2) {
  flex-shrink: 0;
  width: 148px;
}
.chargediag .tag_row p:last-child {
  flex-shrink: 0;
  width: 148px;
  font-family: "Apple SD Gothic R";
  color: #A2A2A2;
}
.chargediag .charge_flex {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  padding: 22.5px 8px 0;
}
.chargediag .charge_flex > div {
  width: 100%;
}
.chargediag .table_border .tit {
  margin-bottom: 20px;
  font-family: "Apple SD Gothic B";
  font-size: 18px;
  line-height: 24px;
}
.chargediag .table_border {
  padding-bottom: 16px;
  color: #1e1e1e;
  height: 142px;
}
.chargediag .table_border + .table_border {
  padding-top: 16px;
  padding-bottom: 0;
  border-top: 1px solid #e8e8e8;
  height: auto;
}
.chargediag .table_border > div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 22px;
}
.chargediag .table_border > div + div {
  margin-top: 8px;
}
.chargediag .table_border > div p:first-child {
  color: #7C7C7C;
}
.chargediag .table_flex {
  display: flex;
  gap: 35px;
  margin-top: 52px;
}
.chargediag .table_flex > div {
  width: calc(50% - (35px /2));
}
.chargediag .dtc {
  display: flex;
  align-items: center;
  margin-top: 22.5px;
  margin-left: 8px;
  font-size: 18px;
  line-height: 24px;
  color: #1e1e1e;
}
.chargediag .dtc_num {
  display: block;
  padding-left: 6px;
  font-family: "Apple SD Gothic B";
  font-size: 20px;
  line-height: 26px;
  text-align: right;
}

.chargediag .caution {
  width: 680px;
  margin-top: 169px;
}
.chargediag .caution_tit {
  margin-bottom: 15px;
  font-family: "Apple SD Gothic B";
  font-size: 18px;
  line-height: 24px;
  color: #4c4c4c;
}
.chargediag .caution_list {
  padding-left: 14px;
}
.chargediag .caution_list li {
  list-style: disc;
  font-size: 14px;
  line-height: 22px;
  color: #7c7c7c;
}
.chargediag .caution_list li + li {
  margin-top: 4px;
}