@charset "UTF-8";

.ia_wrap {background:#fff; color:#000;}
.ia_table {background: #F5F7FA; width: 100%;}
.ia_table thead {background: #50CCE0;}
.ia_table tr {padding: 12px 0;}
.ia_table .divide {background: darkgray;}
.ia_table .state::before {content: ''; display: block; width: calc(100% - 8px); height: 100%; border-radius: 8px; padding: 4px; text-align: center;}
.ia_table .ing .state::before {content: '진행중'; background: lightgray;}
.ia_table .end .state::before {content: '완료'; background: lightgreen;}
.ia_table .modify .state::before {content: '수정중'; background: yellow;}
.ia_table .x .state::before {content: '취소'; background: lightcoral;}