@charset "utf-8"; /* Font */
@font-face { font-family: "ng"; src: url("../font/NanumBarunGothic.eot"); src: local(※),
 url("../font/NanumBarunGothic.eot?#iefix") format("embedded-opentype"),
 url("../font/NanumBarunGothic.woff") format("woff"),
 url("../font/NanumBarunGothic.ttf") format("truetype"); font-weight: normal; font-style: normal; } 

@font-face { font-family: "ngB"; src: url("../font/NanumBarunGothicBold.eot"); src: local(※),
 url("../font/NanumGothicBold.eot?#iefix") format("embedded-opentype"),
 url("../font/NanumGothicBold.woff") format("woff"),
 url("../font/NanumGothicBold.ttf") format("truetype"); font-weight: normal; font-style: normal; } 


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    margin-block-end: 0;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'system-ui', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'sans-serif';
}
*, *::before, *::after { box-sizing: border-box; }
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
body { line-height: 1; }
ol,ul { list-style: none; }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}
a { text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none;}

:root{
  /* color */
  --blue-700: #00B4CB;
  --blue-500: #50CCE0;
  --blue-100: #CBF0F6;

  --mint-700: #22D6B7;
  --mint-500: #65E2CD;
  --mint-100: #BAF7EC;

  --green-700: #B5CD00;
  --green-500: #CDE03F;
  --green-100: #E8F1A8;

  --red-700: #FF5353;
  --red-500: #FF8787;
  --red-100: #FFC5C5;

  --pink-700: #FF8787;
  --pink-500: #FFADAD;
  --pink-100: #FFD5D5;
  
  --orange-700: #FFC045;
  --orange-500: #FFCB67;
  --orange-100: #FDE6BB;

  --gray-300 : #d3d3d3; 
  --gray-200 : #e8e8e8;
}

/* header */
header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  margin-bottom: 80px;
}
header .nav-wrap .nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* guide content */

#componentsWrap{
  width: 100vw;
  display: flex;
  flex-direction: row;
}
nav{
  background-color: #eee;
  padding-right: 80px;
}